.navbar-container {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.main-title {
	display: inline;
	position: relative;
    font-family: var(--font-content);
    font-weight: bold;
    font-size: 45px;	
    letter-spacing: -5px;
	color: rgba(255, 0, 149, 0.815);
}

.main-title:after {
	content: "a simple to do list";
    position: absolute; 
    left: -2px; 
    top: -2px;
	color: rgba(0, 195, 255, 0.781); 
}